extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Encounter Tracker
      .navbar-collapse.collapse
        div(ng-include="'/partials/account/navbar'")
        div(ng-include="'/partials/account/navbar-login'")
            
  section.content
    div(ng-view)
